
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.logo {
    font-size: 2rem;
}

.hero {
    height: 20rem;
    background-color: var(--color-3);
    border-radius: 1rem;
    box-shadow: 0 0 2px var(--color-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
